# Use Raspberry Pi OS Bookworm as a basis for the custom image.
#
# Note that you can also declare your own base layer(s). For examples, see:
# https://github.com/silitics/rugpi/tree/main/bakery/repositories/core/layers
parent = "core/raspios-bookworm"

# Include recipes for the custom image.
recipes = [
    # Prepares the Raspberry Pi base image for usage with Rugix.
    "core/rpi-raspios-setup",
    # Sets a static hostname (see parameters below).
    "core/set-hostname",
    # Persists the home directory of the root user.
    "core/persist-root-home",
    # Configures SSH.
    "core/ssh",
    # Enable the `hello-world` recipe installing the static webpage.
    "hello-world",
]

[parameters."core/set-hostname"]
hostname = "rugix-template"

[parameters."core/pkg-cleanup"]
autoremove = true

[parameters."core/ssh"]
root_authorized_keys = """
<INSERT YOUR PUBLIC SSH KEY HERE>
"""

[parameters."core/rugix-ctrl"]
rugix_admin = true  # Enable Rugix Admin.
